/* .container{
background-color: rgb(163, 163, 163);
text-align: center;
margin: auto;
padding: 0;
align-items: center;
display: flex;
justify-content: space-between;

}
.home
.create li{
    color: green;
    text-decoration: none;

    
} */
.container {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 65px;
  }

.container h4{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container h4:hover {
    background-color: #ddd;
    color: black;
    font-size: 19px;

  }
  .container h4.active {
    background-color: #04AA6D;
    color: white;
  }

.container img:hover{
    height: 48px;
    width: 48px;
}




  