

.containerCards{

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 14px 15px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
      margin-top: 40px;
 
}

.barYbutton{

  display: flex;
  flex-direction: row;
  /* position: relative; */
  /* margin-top: 90px; */
}
.bar{
  background-color: #00000036;
    border: 2px solid #29154e;
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    height: 35px;
    margin: 8px;
    box-sizing: border-box;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-left: 230px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    
}
.bar:focus {
  color: #29154e;
}
.center{
    text-align: center;
    display: flex;
    flex-direction: row;

}

.danger{
    color: rgba(0, 0, 0, 0.509);
    background-color: rgba(255, 255, 255, 0.699);
    border: none;
    border-radius: 4px;
}






.pagination {
  display: inline-block;
}

.pagination .aa {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination .aa.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination .aa:hover:not(.active) {background-color: #ddd;}
